body{
    margin:0;
    padding:0; 
}

#header{
    background-color:#212121;
    width:100%;
    height:60px;
    position:fixed;
    color:#FFF;
    padding-top:0;
    margin-top:0;
}
#store{
    float:left;
    margin-left:10%;
}
#shoppingcart{
   float:right;
   margin-right:15%;
   color:#FFF;
   padding-top:0.75em;
}
span{
    color:#FFF;
}

#content{
   margin:auto;
   width:100%;
} 

.productCard{
    text-align:center;
    height:100vh;
    width:100%; 
    padding-top: 60px;
}
img{
    max-height:400px;   
}

button{
    background-color:#5596F5;
    border-radius: 5px;
    color: #FFF;
    border:transparent;
    padding: 1em;
    font-size:20px;   
}

a:visited, a:link, a:hover{
    color: #FFF;
}


.productCard:nth-of-type(even){
    background-color:#F5F5F5;
}
